.colors-filter {
  &-container {
    text-align: center;
    margin-left: 50px;
  }

  &-item {
    width: 180px;
    margin: 0 auto;
    text-align: left;
    padding: 5px 0;
  }

  &-input:hover {
    box-shadow: 0 0 6px #AAAABB;
  }
}
