@import "../styles/variables";

.colors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @for $i from 1 to str-length($number-of-child) {
      &:nth-child(#{$i}) {
        background: var(--color-user-#{$i});
        border: 1px solid #979797;
        margin: 30px 10px;
        border-radius: 10px;
        width: 100px;
        height: 100px;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: left;
      position: absolute;

      &-button {
        border: none;
        border-radius: 100%;
        box-shadow: 0 0 10px #b0b0b0d6;
        width: 30px;
        height: 30px;
        background-color: #ffffff9b;
      }

      &-button:hover {
        background-color: #ffffff;
        width: 40px;
        height: 40px;
        transition: 0.2s;
        font-size: 1rem;
      }
    }
    &-name {
      margin-top: 160px;
    }
  }
}
