.color-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px auto;
  text-align: center;

  &-label {
    margin-bottom: 20px;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &-input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 25px;
  }

  &-input-wrong {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid rgb(255, 0, 0);
    animation: shake 0.8s;
  }

  &-input-wrong:focus {
    outline: none;
    border: 1px solid rgb(255, 0, 0);
  }

  &-warning {
    margin-top: 0;
    color: #ff0000;
  }

  &-button {
    width: 60%;
    margin: auto;
    border: none;
    background: rgb(160, 251, 169);
    padding: 10px;
    border-radius: 25px;
    font-weight: 600;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}
